doctype html
html
  head(lang='en')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css')
    meta(charset='UTF-8')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800', rel='stylesheet', type='text/css')
    link(href='/stylesheets/welcomeStyle.css', rel='stylesheet')
  title Welcome to Twitter
  body
    #page-welcome.pages.white.paralax.page-welcome
      .overlay
      // Centralized content
      .centralized
        .container
          .row-fluid
            .span12.center
              // Animated logo
              .container
                .header
                  .clr
                .sp-container
                  .sp-content
                    .sp-globe
                    h2.frame-1 Welcome to Twitter
                    h2.frame-2
                      span
                      span Share your thoughts.
                      span Write a new tweet!
                    a.sp-circle-link(href='/index') Tweet
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
script(type='text/javascript', src='/path/to/shared/js/EventHelpers.js')
script(type='text/javascript', src='/path/to/shared/js/cssQuery-p.js')
script(type='text/javascript', src='/path/to/shared/js/jcoglan.com/sylvester.js')
script(type='text/javascript', src='/path/to/shared/js/cssSandpaper.js')
